*/.DS_Store
.DS_Store
**/.ipynb_checkpoints/
.vscode
.github/workflows/generate-index.yml
.vscode/settings.json
week-4/lab/survey_*
week-6/lab/survey_helper.py
week-6/lab/survey_cleaned.csv
projects/submissions/
